<html>

<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<script src="./jquery-2.2.2.js" type="text/javascript"></script>

<title>WiderNet Manager Portal</title>
<!--<link href="Wdefault.css" rel="stylesheet" type="text/css" title="Original">-->

<meta http-equiv="Default-Style" content="CustomA"> <!-- Sets the stylesheet to be used. -->
</head>

<body>
  <div align="center">

      <div align="center">
  

          <table border="0" width="80%" cellpadding="0" style="border-collapse: collapse" id="table4">
	          <tr>
		          <td>
		            <p style="margin-top: 0; margin-bottom: 0">
		              <font size="5" face="Verdana" color="#B7B9BB">
                    <b>
                      <img alt="eGranary Logo" height="38" src="../assets/eGranaryLogo.png" width="42"> eGranary </b></font><b><font size="5" color="#B7B9BB">User Portal</font>
                    </b>
                </p>
		          </td>
	          </tr>
	          <tr>
		          <td colspan="2">
                <hr noshade color="#4D4A43" size="3">
              </td>
	          </tr>
          </table>
        
          <p style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
          <table border="0" cellpadding="0" style="border-collapse: collapse" bordercolor="#111111" width="80%" id="AutoNumber21">
            <tr>
              <td width="100%">
                <p style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
                <table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#EAEAEA" width="100%" id="table2">
                  <tr>
                    <td width="100%">
                      <table cellspacing="0" cellpadding="4" border="0" style="border-collapse: collapse" bordercolor="#EAEAEA" width="100%" id="table3">
                        <thead>
                          <tr>
                            <td class="projectTableHead" width="10%">
                              <p style="margin-top: 0; margin-bottom: 0; height: 10px;">
					                      <a class="sortable">
						                      Status
					                      </a>
										        </td>
                            <td class="projectTableHead" width="3%">&nbsp;</td>
                            <td class="projectTableHead">
					                    <a class ="sortable" >
						                    Resource
					                    </a>
											      </td>
                            <td class="projectTableHead" width="8%">
                              Resource Type
                            </td>
                            <td class="projectTableHead" width="3%">
                            &nbsp;</td>
                            <td class="projectTableHead" style="white-space: nowrap" width="8%">
                              <a class="sortable">
                                Category
                              </a>
                            </td>
                          </tr>
                        </thead>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

      </div>

  </div>
  <p>&nbsp;</p>
  </body>

</html>


